<style>
  th {
  padding: 12px;
  border: 3px solid black;
background: green;
color: white;
font-weight: bold;
}
td#id{
padding: 12px;
border: 3px solid black;
text-align: left;
  background: #eee;
}
</style>


<p id="notice"><%= notice %></p>
<% if user_signed_in? && !username.nil?  %>
<h3><%=username %> personal details</h3>
    <% else if user_signed_in? && username.nil?%>
    <h3><%= current_user.email %> personl details</h3><% end %><% end %><br>

<% if user_signed_in? %>
<table  align="center">

  <thead>

    <tr align="center">
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Contact number</th>
      <th>Address</th>
      <th>About mac</th>
    </tr>
  </thead>

  <tbody>


      <tr align="center">

        <td id="id"><%= @dets.Name %></td>
        <td id="id"><%= @dets.Age %></td>
        <td id="id"><%if @dets.gender == true %>
              <%="Male"%>
              <%elsif @dets.gender == false%>
              <%="Female"%>
          <%elsif @dets.gender == nil?%>
          <%end%></td>
        <td id="id"><%= @dets.Contact_Number %></td>
        <td id="id"><%= @dets.Address %></td>
        <td id="id"><%= @dets.About_MAC %></td>
      </tr>
  </tbody>

  <tr>

  <td ><br><%= button_to 'Edit', edit_userpersnaldet_path(@dets.id),method: :get , :class=>"btn btn-primary btn-sm btn-block"%></td>
  <td ><br><%= button_to 'Skip', programs_path,method: :get , :class=>"btn btn-default btn-sm btn-block"%></td></tr>
</table>

<% end %>
<br>
