

<h1 align="center" style="color: #B00100">Member details for Photo ID</h1>

<div style="">
  <div style="float: left; position: fixed;width: 330px;margin-left: 11%">  <%= will_paginate @memberdetails, renderer: BootstrapPagination::Rails,:previous_label => 'Previous', :next_label => 'Next' %>
  </div>
  <div style=""><%= link_to new_memberdetail_path do %>
        <h1 align="center">Click here to Add New Member</h1>
    <% end %>
  </div>
  <div style="float: left; width: 10px;">  <%= button_to "Export To Excel ?", memberdetails_path(format: "xls"),method: :get, id: 'triangle-right',class:"btn-change7" %>
  </div>
  <br style="clear: left;" />
</div>


<div class="container" >
</div>

</table>
<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover" style="background-color: white; border: double">
        <thead>
        <tr>
          <th>S:No</th>
          <th>Full Name</th>
          <th>Fathername</th>
          <th>Phnumber</th>
          <th colspan="2">Email</th>
          <th>Bloodgroup</th>
          <th>Photo</th>
          <th>ID Proof</th>
          <th>Edit</th>
          <!--<th>Delete</th>-->
        </tr>
        </thead>
        <tbody id="myTable">
        <% i = 1 %>
        <% @memberdetails.reverse_order.each do |memberdetail| %>
        <tr>
          <td><%= i %></td>
          <td><%= memberdetail.fullname %></td>
          <td><%= memberdetail.fathername %></td>
          <td><%= memberdetail.phnumber %></td>
          <td colspan="2"><%= memberdetail.email %></td>
          <td><%= memberdetail.bloodgroup %></td>
          <a href="" data-toggle="modal" data-target="#modal-<%= memberdetail.id %>">
            <td><%= image_tag memberdetail.image.url(:original),class:"img-responsive",id:memberdetail.id %>
            </td>
            <%#= image_tag memberdetail.proof.url(:original),class:"img-responsive",id:memberdetail.id,width:"300" ,height:"200" %>

          </a>

            <%#= image_tag memberdetail.image.url(:original),class:"img-responsive",id:memberdetail.id,width:"300" ,height:"200" %>
            <td>
              <%=link_to image_tag(memberdetail.proof.url(:medium)), memberdetail.proof.url(:original), :popup=>['original_image', 'height=700,width=900'],style: 'background: transparent'%>
            </td>

          <div id="myModal" class="modal">
            <span type="button" class="btn btn-warning btn-lg" data-dismiss="modal" style="margin-left: 75%;margin-top: -1%;color: white"><span class="glyphicon glyphicon-remove" ></span></span>
            <img class="modal-content" id="img01" >
            <div id="caption"> </div>
          </div>


            <script>
              // Get the modal
              var modal = document.getElementById('myModal');

              // Get the image and insert it inside the modal - use its "alt" text as a caption
              var img = document.getElementById('<%= memberdetail.id %>');
              var modalImg = document.getElementById("img01");
              var captionText = document.getElementById("caption");
              img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
              }

              // Get the <span> element that closes the modal
              var span = document.getElementsByClassName("modal")[0];

              // When the user clicks on <span> (x), close the modal
              span.onclick = function() {
                modal.style.display = "none";
              }
            </script>




          <td><%= link_to 'Edit', edit_memberdetail_path(memberdetail) %></td>
          <!--<td><%#= link_to 'Destroy', memberdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
        <% i += 1 %>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>

</div>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    vertical-align:middle;

  }

  th, td {

    padding: 8px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    border: 2px dashed #f69c55;
  }
  td {text-align:center; vertical-align:middle;}
  tr:nth-child(even){background-color: lightgrey}

  th {
    background-color: darkgreen;
    color: white;
  }
  table, th, td {
    border: 1px solid black;
  }
  tr:hover{background-color:green}


  .btn-change7{
position: relative;
    height: 50px;
    width: 150px;
    background: lightseagreen;
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
  }
  .btn-change7:hover{
    box-shadow:150px 0 0 #31708f inset;
  }
  table#t01 ,tr#t01, td#t01 {
    border: transparent;
  }
  input#triangle-right {
    margin-left: 6500%;
    margin-top: 80%;
  }
</style>
<style>
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
  }

  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation */
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 20px;
    right: 2%;
    color: greenyellow;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 600px){
    .modal-content {
      width: 100%;
    }
  }
</style>
