<style>
  .post_container {
  display: inline-block;
  }



</style>

<h1>Programs</h1>

  <section id="gallery" class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/2.jpg);">
    <div class="wrapsection">
      <div class="parallax-overlay" style="background-color:#00c1c1;opacity:0.9;"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 sol-sm-12">
            <div class="maintitle">
              <h3 class="section-title">Events Gallery</h3>
              <p class="lead wow flipInX" style="content: '\007C\00a0\00a0';">
                Have a look at your past events gallery, see how much fun we have while helping people all over the world. Join our community today!
              </p>
            </div>
          </div>
          <div class="col-md-11" style="content: '\007C\00a0\00a0';align-content: center">
  <%@programs = Program.all  %>
  <%i = 1  %>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="float: left">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <table>
              <thead><tr>
                <ul>
                  <div class="col-md-11">

  <% @programs.each do |program| %>
      <%i = 1  %>

                    <div id="myCarouselWrapper" class="container-fluid" style="align-content: center">

                      <div id="myCarousel" class="carousel slide">

                        <div class="carousel-inner" role="listbox">
                          <div class="item active">

                            &nbsp;&nbsp;&nbsp;&nbsp;
                    <th width="1cm" colspan="2"><td>
                <div class="post_container" style="height: 15cm;width: 8cm">
                  <!--<a href="https://ununsplash.imgix.net/photo-1429277158984-614d155e0017?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="">-->
                  <%= image_tag program.photo.url(:medium),style:"border: double;display: inline-block; width: 400.2px;height:200px" ,class:"image-responsive"%>
                  <!--<img src="https://ununsplash.imgix.net/photo-1429277158984-614d155e0017?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive">-->
                  <div class="description" style="height: 3cm">
                    <b><%= link_to program.Event_Name, program,:id=> 'program.id',style:'background-color: white;height:0.7cm' %></b>
                    <span><i><b><%= link_to 'Donate', mdos_path,style:'background-color: white;height:0.7cm;float:right' %></b></i></span>
                    <span class="camera"><i class="fa fa-camera"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </div>
                          </td>
                             </th> <!-- Controls -->




                          </div>

                        </div>

                      </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;
<% end %>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="float: right">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float: right"></span>
                      <span class="sr-only">Next</span>
                    </a>
      </div>
                </ul></tr></thead>
            </table> </div>

        </div>
      </div>
    </div>
 </section>
<br>
<% if user_signed_in?  %><%= button_to( "Add New Event", new_program_path, :method => :get )%><% end %>

<% if user_signed_in? && current_user.email == 'st118173@ait.asia' %><%= button_to( "Users Profile", usersinfo_userlist_path, :method => :get )%><%end%>
<% if user_signed_in? && current_user.email != 'st118173@ait.asia' %><%= button_to( "Users list", usersinfo_userlist_path, :method => :get )%><%end%>


         <!--.container-->
<script>
  $('#myCarousel').carousel({
    interval: 4000
  });

  $('.carousel .item').each(function(){
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));

    for (var i=0;i<2;i++) {
      next=next.next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }

      next.children(':first-child').clone().appendTo($(this));
    }
  });
</script>
<style>

</style>


