<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= Program.Event_Name %>
</p>
<p>
  <strong>Event Details:</strong>
  <%= @program.event_details %>
</p>

<h3>Comments</h3>

<%= render @program.comts %>





<p><%= render 'comts/form' %></p>

<%= button_to( "Donate", new_reg_path, :method => :get, :class => 'btn btn-primary' )%>
<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
