<% if user_signed_in? && current_user.role==nil %>
<h1>Please Proceed to Pay to get access to webiste</h1>
    <script type="text/javascript">
      window.location.href="/regs/new"  // put your correct path in a string here
    </script>

<% else %>
    <div class="row">
      <div class="col-sm-12 text-center">
        <!--<button id="btnSearch" class="btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="btnSearch_Click" >button</button>-->
        <!--<button id="btnClear" class="btn btn-danger btn-md center-block" Style="width: 100px;" OnClick="btnClear_Click" >button</button>-->

        <% if user_signed_in?  %>
            <%= link_to( new_program_path, :method => :get ,class:"btn btn-info btn-md center-block",id:"btnSearch1" ) do%>
                Add New Event<span class="glyphicon glyphicon-chevron-right"></span>
                <% end %><% end %>

        <% if user_signed_in? && current_user.email == 'st118173@ait.asia' %>
            <%= link_to(  usersinfo_userlist_path, :method => :get,class:"btn btn-danger btn-md center-block",id:"btnSearch2"  ) do%>
                Users Profile <span class="glyphicon glyphicon-chevron-right"></span>
            <%end%> <%end%>
        <% if user_signed_in? && current_user.email != 'st118173@ait.asia' %>
            <%= link_to(  usersinfo_userlist_path, :method => :get,class:"btn btn-success btn-md center-block",id:"btnSearch3"  ) do%>
                Users list<span class="glyphicon glyphicon-chevron-right"></span>
            <%end%> <%end%>
        <% if user_signed_in? && current_user.email = 'st118173@ait.asia' %>
            <%= link_to(  memberdetails_path, :method => :get,class:"btn btn-warning btn-md center-block",id:"btnSearch4") do%>
                Show ID Card Details<span class="glyphicon glyphicon-chevron-right"></span>
            <%end%> <%end%>
      </div>
    </div>
    <div class="col-md-5" style="margin-left: 29%" >

<% end %>
</div>
<br><br>
<!-- Page Content -->
<span style="border: darkolivegreen">

<div class="container" style="background-color: darkseagreen">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Events Conducted
        <small>by MAC</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->
  <% @programs.each do |program| %><br><br><br><br><br >
  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
<a href="#" data-toggle="modal" data-target="#modal-<%= program.id %>">
          <%= image_tag program.photo.url(:medium),class:"img-responsive",id:program.id,width:"300" ,height:"200" %>

</a>
<%#=link_to image_tag(program.photo.url(:medium)), program.photo.url(:original), :popup=>['original_image', 'height=700,width=900'],style: 'background: transparent'%>
      <div id="myModal" class="modal">
  <span type="button" class="btn btn-warning btn-lg" data-dismiss="modal" style="margin-left: 75%;margin-top: -1%;color: white"><span class="glyphicon glyphicon-remove" ></span></span>
  <img class="modal-content" id="img01">
  <div id="caption"> </div>

</div>

<script>
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById('<%= program.id %>');
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("modal")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
</script>

    </div>
    <div class="col-md-5" style="" >
      <h3><%= program.Event_Name %></h3>
      <h4>Details</h4>
      <p><%= program.event_details %></p>
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>-->
      <a class="btn btn-success" href="/mdos/new">Donate <span class="glyphicon glyphicon-chevron-right"></span></a>

      <% if user_signed_in? %> <td><%= link_to  edit_program_path(program),class:"btn btn-primary" do %>
          Edit<span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </td><% end %>
      <% if user_signed_in? && current_user.email == 'st118173@ait.asia' %>
          <td><%= link_to  program, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" do %>Delete<span class="glyphicon glyphicon-chevron-right"></span>
                <% end %></td><% end %>
       </div>
  </div>
  <!-- /.row --><hr>
  <% end %>

  <!-- Pagination -->
  <div class="row text-center">
    <div class="col-lg-12">
      <ul class="pagination">
        <li>
          <!--<a href="#">&laquo;</a>-->
          <%= will_paginate @programs, renderer: BootstrapPagination::Rails,:previous_label => 'Previous', :next_label => 'Next' %>

        </li>

      </ul>
    </div>
  </div>

  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>

</div>

</span>



<style>

  /*!
   * Start Bootstrap - 1 Col Portfolio (http://startbootstrap.com/)
   * Copyright 2013-2016 Start Bootstrap
   * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
   */

  body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  }

  footer {
    margin: 50px 0;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
  td,
  th {
    padding: 0;
  }
  /*.btn.btn-success.hover{*/
    /*color: green;*/
  /*}*/
  /*!*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css *!*/

  /*.btn-info, .label-info, .alert-info {*/
    /*background-color: #FFF;*/
    /*border-color: #FFF;*/
    /*color: #01B0D1;*/
    /*float: left;*/
  /*}*/
  /*.btn-warning, .label-warning, .alert-warning {*/
    /*background-color: #e67e22;*/
    /*border-color: #e67e22;*/
    /*float: right;*/
    /*margin: -5.5%;*/
  /*}*/
  .btn-success:hover, .btn-success:focus {
    background-color: green;
    color: white;
    border-color: #c0392b;
  }
  .btn-danger:hover, .btn-danger:focus {
      background-color: red;
      color: white;
      border-color: #c0392b;
    }
  .btn-warning:hover, .btn-warning:focus {
    background-color: orange;
    color: white;
    border-color: #c0392b;
  }
  .btn-default:hover, .btn-default:focus {
    background-color: black;
    color: white;
    border-color: #c0392b;
  }
  .btn-info:hover, .btn-info:focus {
    background-color: green;
    color: white;
    border-color: #c0392b;
  }
  #btnSearch1,
  #btnSearch2,
  #btnSearch3,
  #btnSearch4{
    display: inline-block;
    vertical-align: top;
  }
  #btnSearch,
  #btnClear{
    display: inline-block;
    vertical-align: top;
  }

</style>
<style>
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation */
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 20px;
    right: 2%;
    color: greenyellow;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
</style>
