<p id="notice"><%= notice %></p>

<h1>Donate Education Materials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Text donation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donate_education_materials.each do |donate_education_material| %>
      <tr>
        <td><%= donate_education_material.name %></td>
        <td><%= donate_education_material.email %></td>
        <td><%= donate_education_material.address %></td>
        <td><%= donate_education_material.contact %></td>
        <td><%= donate_education_material.text_donation %></td>
        <td><%= link_to 'Show', donate_education_material %></td>
        <td><%= link_to 'Edit', edit_donate_education_material_path(donate_education_material) %></td>
        <td><%= link_to 'Destroy', donate_education_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Donate Education Material', new_donate_education_material_path, method: :post %>
