<%= form_for Email.new do |f| %>
    <div class="form-group"> <!-- Name field -->
      <label class="control-label " for="name">Name</label>
      <%= f.text_field :name,:class=>"form-control" %>
    </div>

    <div class="form-group"> <!-- Email field -->
      <label class="control-label requiredField" for="email">Email<span class="asteriskField">*</span></label>
      <%= f.text_field :email,:class=>"form-control" %>
    </div>

    <div class="form-group"> <!-- Subject field -->
      <label class="control-label " for="subject">Phone Number</label>
      <%= f.text_field :phone,:class=>"form-control" %>
    </div>

    <div class="form-group"> <!-- Message field -->
      <label class="control-label " for="message">Message</label>
      <%= f.text_area :message,:class=>"form-control",:cols=> '40', :rows=> '10' %>
    </div>

    <div class="form-group">
      <%= f.button :send,:value=> 'Send',:class=>"btn btn-primary" %>
    </div>

<% end %>
